﻿@model FurbotWeb.Models.CorrecaoExercicioViewModel
@{
    ViewBag.Title = "Consultar exercícios resolvidos - FURBOT WEB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/consulta-exercicio-resolvido.js"></script>
<script type="text/javascript">
    $(function () {
        urlPadrao = '@Href("~/Aluno", "")';
        jsonViewModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        viewModel = new consultaExercicioViewModel();
        ko.applyBindings(viewModel);

        $("tbody").delegate("tr", "click", function(){
            $("tbody").find("tr").removeClass("selected");
            $(this).addClass("selected");

            var rowIndex = $(this).index();
            viewModel.mostrarBotoesLinhaSelecionada(true);
            viewModel.itemSelecionado(viewModel.Resolucoes()[rowIndex].Id());
        });

        $.ajaxSetup({ cache: false });
    });
</script>

<h2 class="Titulo-Formulario">CONSULTA DE EXERCÍCIOS RESOLVIDOS</h2>
<div class="Clear"></div>
<br />
<div style="height: 30px;">
    <input type="submit" value="Visualizar detalhes" data-bind="click: visualizar, visible: mostrarBotoesLinhaSelecionada" class="Botao Botao-Grid Botao-Esconder" />
</div>
<div class="Clear"></div>

<div id="grid" data-bind='simpleGrid: gridConfiguration'> </div>
