﻿@model FurbotWeb.Models.ExercicioViewModel
@{
    ViewBag.Title = "Exercício - FURBOT WEB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/blockly/acorn_interpreter.js"></script>
<script src="~/Scripts/blockly/blockly_compressed.js"></script>
<script src="~/Scripts/blockly/javascript_compressed.js"></script>
<script src="~/Scripts/blockly/blocks_compressed.js"></script>
<script src="~/Scripts/blockly/msg/js/pt-br.js"></script>
@Scripts.Render("~/bundles/tecedufurb_engine")
<script src="~/Scripts/generator-custom-blocks-FURBOT.js"></script>
<script src="~/Scripts/custom-blocks-FURBOT.js"></script>
<script src="~/Scripts/resolucao-exercicio.js"></script>

<script>
    $(function () {
        urlPadrao = '@Href("~/Aluno", "")';
        jsonViewModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        viewModel = new resolucaoExercicioViewModel();
        ko.applyBindings(viewModel);

        if (jsonViewModel.Enunciado != null)
        {
            inicializarExercicio();
            workspace = Blockly.inject('blocklyDiv', { toolbox: document.getElementById('toolbox') });
            $("#velocidade").slider();
        }
    });
</script>

<h2 class="Titulo-Formulario">RESOLVER EXERCÍCIO</h2>
@if (Model.Enunciado != null)
{
    <div>
        <input type="button" data-bind="click: gerarCodigo" value="Visualizar código gerado" class="Botao" />
        <input type="button" data-bind="click: executar" value="Executar" class="Botao" />
        <input type="button" data-bind="click: concluir" value="Concluir exercício" class="Botao" />
        <input type="button" data-bind="click: reiniciar" value="Reiniciar mundo" class="Botao" />
        @*<input type="button" data-bind="click: depurar" value="Depurar" class="Botao" />*@
    </div>
    <div class="Clear"></div>

    <form id="Exercicio" method="post">
        <div class="Contorno-Formulario">
            <div class="Bloco-Separador">
                <div class="Container-Rotulos-Primeiro" style="width:69%;height:100%">
                    <div id="blocklyDiv" style="height: 490px; width: 100%;"></div>
                </div>
                <div class="Container-Rotulos" style="width:29%">
                    <div>
                        @Html.Raw(Model.Enunciado)
                        <div id="velocidade" title="Arraste para alterar a velocidade do robô"></div>
                    </div>
                </div>
                <div class="Container-Rotulos" style="width:29%">
                    <canvas id="gameCanvas" width="480" height="300"></canvas>
                </div>
            </div>
            <div class="Clear"></div>

            <xml id="toolbox" style="display: none">
                <category name="Comandos FURBOT" colour="360" expanded="true">
                    <category name="Movimentação" colour="330">
                        <block type="furbot_andar_direita"></block>
                        <block type="furbot_andar_esquerda"></block>
                        <block type="furbot_andar_acima"></block>
                        <block type="furbot_andar_abaixo"></block>
                        <block type="furbot_mudar_posicao"></block>
                    </category>
                    <category name="Comunicação" colour="300">
                        <block type="furbot_diga"></block>
                    </category>
                    <category name="Avaliação do mundo" colour="270">
                        <block type="furbot_eh_vazio"></block>
                        <block type="furbot_eh_fim"></block>
                    </category>
                    <category name="Obtenção de coordenadas" colour="240">
                        <block type="furbot_get_x"></block>
                        <block type="furbot_get_y"></block>
                    </category>
                    <category name="Manipulação de objetos" colour="210">
                        <block type="furbot_get_objeto"></block>
                        <block type="furbot_eh_obj_tipo"></block>
                        <block type="furbot_add_obj_dir"></block>
                        <block type="furbot_add_obj_coor"></block>
                        <block type="furbot_remover_obj"></block>
                        <block type="furbot_var_alien"></block>
                        <block type="furbot_var_parede"></block>
                        <block type="furbot_var_numero"></block>
                        <block type="furbot_get_objeto_coor"></block>
                    </category>
                    <category name="Outros" colour="180">
                        <block type="furbot_eh_dependente_energia"></block>
                        <block type="furbot_get_max_energia"></block>
                        <block type="furbot_get_energia"></block>
                        <block type="furbot_esperar"></block>
                        <block type="furbot_esperar_alguem"></block>
                        <block type="furbot_sortear"></block>
                        <block type="furbot_jah_explodiu"></block>
                        <block type="furbot_add_obj_embaixo"></block>
                        <block type="furbot_eh_bloqueado"></block>
                        <block type="furbot_bloquear"></block>
                        <block type="furbot_desbloquear"></block>
                        <block type="furbot_get_sou_tipo"></block>
                        @*@Deprecated
                            <block type="furbot_get_velocidade"></block>
                            <block type="furbot_set_velocidade"></block>*@
                    </category>
                </category>
                <category name="Comandos Básicos" expanded="true" colour="150">
                    <category name="Laço" colour="120">
                        <block type="controls_whileUntil"></block>
                    </category>
                    <category name="Texto" colour="150">
                        <block type="text"></block>
                        <block type="text_join"></block>
                    </category>
                    <category name="Lógica" colour="210">
                        <block type="controls_if"></block>
                        <block type="logic_negate"></block>
                        <block type="logic_compare"></block>
                        <block type="logic_operation"></block>
                        <block type="logic_boolean"></block>
                    </category>
                    <category name="Matemática" colour="230">
                        <block type="math_number"></block>
                        <block type="math_arithmetic"></block>
                        <block type="math_number_property"></block>
                    </category>
                    <category name="Variáveis" colour="330">
                        <block type="variables_set" colour="330"></block>
                        <block type="variables_get"></block>
                    </category>
                </category>
            </xml>
        </div>
    </form>
}
else
{
    <p>Não há exercícios disponíveis no momento.</p>
}