﻿@model FurbotWeb.Models.ResolucaoExercicioViewModel

@{
    ViewBag.Title = "Detalhes da resolução do exercício - FURBOT WEB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="Titulo-Formulario">DETALHES DA RESOLUÇÃO DO EXERCÍCIO</h2>

<div class="Clear"></div>

<form id="Cadastro" method="get">
    <div class="Contorno-Formulario">
        <div class="Bloco-Separador">
            <div class="Container-Rotulos-Primeiro">
                <label class="Rotulo-Campo">Título do exercício</label>
                <div>
                    @Html.TextBoxFor(model => model.TituloExercicio, new
               {
                   disabled = "disabled"
               })
                </div>
            </div>

            <div class="Container-Rotulos">
                <label class="Rotulo-Campo">Data da resolução</label>
                <div>
                    @Html.TextBoxFor(model => model.DataResolucao, new
               {
                   disabled = "disabled"
               })
                </div>
            </div>

            <div class="Container-Rotulos-Primeiro" style="width:100%">
                <label class="Rotulo-Campo">Enunciado</label>
                <div>
                    @Html.TextAreaFor(model => model.Enunciado, new
               {
                   disabled = "disabled"
               })
                </div>
            </div>

            <div class="Container-Rotulos-Primeiro">
                <label class="Rotulo-Campo">Gabarito</label>
                <div>
                    @Html.TextAreaFor(model => model.Gabarito, new
               {
                   disabled = "disabled",
                   style = "min-height:350px !important"
               })
                </div>
            </div>

            <div class="Container-Rotulos">
                <label class="Rotulo-Campo">Resolução</label>
                <div>
                    @Html.TextAreaFor(model => model.Resolucao, new
               {
                   disabled = "disabled",
                   style = "min-height:350px !important"
               })
                </div>
            </div>

            <div class="Container-Rotulos-Primeiro">
                <label class="Rotulo-Campo">Nota</label>
                <div>
                    @Html.TextBoxFor(model => model.Nota, new
               {
                   disabled = "disabled"
               })
                </div>
            </div>
        </div>
        <div class="Clear"></div>
    </div>
</form>