				<div id='propriedades-tab' class='tab' >
					<div class='property none'>
						<label class='msg'>Selecione um item</label>
					</div>
					<div class='property name camera object cube polygon spline translate rotate scale light'>
						<div class='label'>Nome</div>
						<input id='input' class='prop-field' type="text" />
					</div>
					<div class='property size cube'>
						<div class='label'>Tamanho</div>
						<span>x </span><input id='x' class='prop-field number' type="number" />
						<span>y </span><input id='y' class='prop-field number' type="number" />
						<span class='3d'>z </span><input id='z' class='prop-field number 3d' type="number" />
					</div>
					<div class='property lightType light'>
						<div class='label'>Tipo de Luz</div>
						<div class='prop-wrapper'>
							<select id='types' class='prop-field'>
								<option value='0'>Ambiente</option>
								<option value='1'>Hemisphere</option>
								<option value='2'>Directional</option>
								<option value='3'>Point</option>
								<option value='4'>Spot</option>
							</select>
						</div>
					</div>
					<div class='property position cube light'>
						<div class='label'>Posição</div>
						<span>x </span><input id='x' class='prop-field number' type="number" />
						<span>y </span><input id='y' class='prop-field number' type="number" />
						<span class='3d'>z </span><input id='z' class='prop-field number 3d' type="number" />
					</div>
					<div class='property position-camera camera'>
						<div class='label'>Posição</div><div style="display: inline"></div><!-- workaround para aplicar margim -->
						<span class='3d'>x </span><input id='x' class='prop-field number 3d' type="number" />
						<span class='3d'>y </span><input id='y' class='prop-field number 3d' type="number" />
						<span>z </span><input id='z' class='prop-field number' type="number" />
					</div>
					<div class='property lookat camera 3d'>
						<div class='label'>Look At</div>
						<span>x </span><input id='x' class='prop-field number' type="number" />
						<span>y </span><input id='y' class='prop-field number' type="number" />
						<span>z </span><input id='z' class='prop-field number' type="number" />
					</div>
					<div class='property points polygon'>
						<div class='label'>Pontos</div>
						<div class='prop-wrapper'>
							<input id='length' class='prop-field number' type="number"/><span> Quantidade</span><br/>
							<select id='points' class='prop-field'></select>
							<span>x </span><input id='x' class='prop-field number' type="number" />
							<span>y </span><input id='y' class='prop-field number' type="number" />
							<span class='3d'>z </span><input id='z' class='prop-field number 3d' type="number" /><br/>
						</div>
					</div>
					<div class='property primitive polygon'>
						<div class='label'>Primitiva</div>
						<div class='prop-wrapper'>						
							<select id='select' class='prop-field'>
								<option value='vertex'>Vértices</option>
								<option value='open'>Aberto</option>
								<option value='closed'>Fechado</option>
								<option value='filled'>Cheio</option>
							</select>
						</div>
					</div>
					<div class='property p1 spline'>
						<div class='label'>P1</div>
						<div class='prop-wrapper'>
							<span>x </span><input id='x' class='prop-field number' type="number" />
							<span>y </span><input id='y' class='prop-field number' type="number" />
							<span class='3d'>z </span><input id='z' class='prop-field number 3d' type="number" /><br/>
						</div>
					</div>
					<div class='property p2 spline'>
						<div class='label'>P2</div>
						<div class='prop-wrapper'>
							<span>x </span><input id='x' class='prop-field number' type="number" />
							<span>y </span><input id='y' class='prop-field number' type="number" />
							<span class='3d'>z </span><input id='z' class='prop-field number 3d' type="number" /><br/>
						</div>
					</div>
					<div class='property p3 spline'>
						<div class='label'>P3</div>
						<div class='prop-wrapper'>
							<span>x </span><input id='x' class='prop-field number' type="number" />
							<span>y </span><input id='y' class='prop-field number' type="number" />
							<span class='3d'>z </span><input id='z' class='prop-field number 3d' type="number" /><br/>
						</div>
					</div>
					<div class='property p4 spline'>
						<div class='label'>P4</div>
						<div class='prop-wrapper'>
							<span>x </span><input id='x' class='prop-field number' type="number" />
							<span>y </span><input id='y' class='prop-field number' type="number" />
							<span class='3d'>z </span><input id='z' class='prop-field number 3d' type="number" /><br/>
						</div>
					</div>
					<div class='property values translate scale'>
						<div class='label'>Valores</div>
						<div class='prop-wrapper'>
							<span>x </span><input id='x' class='prop-field number' type="number" />
							<span>y </span><input id='y' class='prop-field number' type="number" />
							<span class='3d'>z </span><input id='z' class='prop-field number 3d' type="number" /><br/>
						</div>
					</div>
					<div class='property values-rotate rotate'>
						<div class='label'>Valores</div>
						<div class='prop-wrapper'>
							<span class='3d'>x </span><input id='x' class='prop-field number 3d' type="number" />
							<span class='3d'>y </span><input id='y' class='prop-field number 3d' type="number" />
							<span>z </span><input id='z' class='prop-field number' type="number" /><br/>
						</div>
					</div>
					<div class='property splineLength spline'>
						<div class='label'>Qtds Pontos</div>
						<input id='length' class='prop-field number' type="number"/><span> Quantidade</span><br/>
					</div>							
					<div class='property polyhedron spline'>
						<div class='label'>Poliedro</div>
						<div class='prop-wrapper'>
							<input id='check' class='prop-field' type="checkbox" /><span>Ativo </span><input id='picker' class='prop-field' type="color" />
						</div>
					</div>
					<div class='property color cube polygon spline light'>
						<div class='label'>Cor</div>
							<input id='picker' class='prop-field' type="color" />
					</div>
					<div class='property texture cube'>
						<div class='label'>Textura</div>
						<div class='prop-wrapper'>
							<input id='check' class='prop-field' type="checkbox" /><span> Habilitar</span><br/>
							<input id='chooser' class='prop-field' value='teste' type="file" /><br/>
							<select id='select' class='prop-field'>
								<option value=''>Não Usar</option>
								<option value='imgs/texturas/logoGCG.png'>Logo Grupo CG</option>
								<option value='imgs/texturas/caixaMadeira.jpg'>Caixa de Madeira</option>
								<option value='imgs/texturas/caixaMetal.jpg'>Caixa de Metal</option>
								<option value='imgs/texturas/cuboMagico.jpg'>Cubo Mágico</option>
								<option value='imgs/texturas/marfim.jpg'>Piso de Marfim</option>
								<option value='imgs/texturas/olho.jpg'>Olho</option>
								<option value='imgs/texturas/pisoMetal1'>Piso Metal 1</option>
								<option value='imgs/texturas/pisoMetal2'>Piso Metal 2</option>
							</select>
						</div>
					</div>
					<div class='property active object cube polygon spline translate rotate scale light'>
						<div class='label'>Ativo</div>
						<input id='check' class='prop-field' type="checkbox" />
					</div>
					<div class='property matrix object'>
						<div class='label'>Matriz</div>
						<div id='field' class='prop-field'></div>
					</div>
					<div class='property near camera'>
						<div class='label'>Near</div>
						<input id='near' class='prop-field number' type="text"/>
					</div>							
					<div class='property far camera'>
						<div class='label'>Far</div>
						<input id='far' class='prop-field number' type="text"/>
					</div>
					<div class='property fov camera'>
						<div class='label'>FOV</div>
						<input id='fov' class='prop-field number' type="text"/>
					</div>
					<div class='property intensity light'>
						<div class='label'>Intensidade</div>
						<input id='intensity' class='prop-field number' type="text"/>
					</div>					
					<div class='property clear renderer'>
						<div class='label'>Cor de Limpeza</div>
							<input id='picker' class='prop-field' type="color" />
					</div>
					<div class='property background-color renderer'>
						<div class='label'>Cor de fundo</div>
							<input id='picker' class='prop-field' type="color" />
					</div>
					<div class='property background light'>
						<div class='label'>Cor de fundo</div>
							<input id='picker' class='prop-field' type="color" />
					</div>
					<div class='property distance light'>
						<div class='label'>Distância</div>
							<input id='distance' class='prop-field number' type="text"/>
					</div>
					<div class='property angle light'>
						<div class='label'>Ângulo</div>
							<input id='angle' class='prop-field number' type="text"/>
					</div>
					<div class='property exponent light'>
						<div class='label'>Expoente</div>
							<input id='exponent' class='prop-field number' type="text"/>
					</div>
					<div class='property grid renderer 3d'>
						<div class='label'>Grade</div>
						<input id='check' class='prop-field' type="checkbox" />
					</div>
					<div class='property axis renderer'>
						<div class='label'>Eixo</div>
						<input id='check' class='prop-field' type="checkbox" />
					</div>
					<div class='property targetPosition light'>
						<div class='label'>Valores</div>
						<div class='prop-wrapper'>
							<span>x </span><input id='x' class='prop-field number' type="number" />
							<span>y </span><input id='y' class='prop-field number' type="number" />
							<span>z </span><input id='z' class='prop-field number 3d' type="number" /><br/>
						</div>
					</div>
					<div class='property mode renderer'>
						<div class='label'>Gráficos</div>
						<div class='prop-wrapper'>						
							<select id='mode' class='prop-field'>
								<option value='2D'>2D</option>
								<option value='3D'>3D</option>
							</select>
						</div>
					</div>
				</div>