﻿@model FurbotWeb.Models.ExercicioViewModel
@{
    ViewBag.Title = "Consulta de exercícios - FURBOT WEB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/consulta-exercicio.js"></script>
<script type="text/javascript">
    $(function () {
        urlPadrao = '@Href("~/Professor", "")';
        jsonViewModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        viewModel = new consultaExercicioViewModel();
        ko.applyBindings(viewModel);

        $("tbody").delegate("tr", "click", function(){
            $("tbody").find("tr").removeClass("selected");
            $(this).addClass("selected");

            var rowIndex = $(this).index();
            viewModel.mostrarBotoesLinhaSelecionada(true);
            viewModel.itemSelecionado(viewModel.Exercicios()[rowIndex].Id());
        });

        ConfigurarTratamentosCampos();
        $.ajaxSetup({ cache: false });
    });
</script>

<h2 class="Titulo-Formulario">CONSULTA DE EXERCÍCIO</h2>
<div class="Clear"></div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "consultar-exercicio" }))
{
    <div class="Contorno-Formulario">
        <div class="Bloco-Separador">
            <div class="Container-Rotulos-Primeiro">
                <label class="Rotulo-Campo">Título do exercício</label>
                <div>
                    @Html.TextBoxFor(model => model.Filtros.Titulo, new
               {
                   id = "Titulo",
                   data_bind = "value: Filtros.Titulo"
               })
                </div>
            </div>
        </div>
        <div class="Clear"></div>

    </div>
    <div class="Clear"></div>
    <input type="submit" value="Pesquisar" class="Botao" data-bind="click: consultar" id="botaoPesquisar" action-description="{'defaultDescription':'Pesquisar', 'progressDescription':'Pesquisando'}" />
}
<div class="Clear"></div>
<br />
<div style="height: 30px;">
    <input type="submit" value="Alterar" data-bind="click: alterar, visible: mostrarBotoesLinhaSelecionada" class="Botao Botao-Grid Botao-Esconder" />
    <input type="submit" value="Excluir" data-bind="click: excluir, visible: mostrarBotoesLinhaSelecionada" class="Botao Botao-Grid Botao-Esconder" />
</div>
<div class="Clear"></div>

<div id="grid" data-bind='simpleGrid: gridConfiguration'> </div>
