﻿@model FurbotWeb.Models.ResolucaoExercicioViewModel

@{
    ViewBag.Title = "Correção exercício - FURBOT WEB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        urlPadrao = '@Href("~/Professor", "")';

        $("#DataResolucao").datepicker({
            altFormat: "dd-MM-yyyy"
        });
        ConfigurarTratamentosCampos();
        aplicarMascaraData();
        aplicarMascaraDecimal();
    });

    function salvar(id) {
        $.ajax({
            url: urlPadrao + 'SalvarCorrecao?id=' + id + '&nota=' + $('#nota').val(),
            type: 'POST',
            cache: false,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json'
        }).done(function (retorno) {
            alert(retorno);
        });
    };
</script>

<h2 class="Titulo-Formulario">CORREÇÃO DE EXERCÍCIO</h2>

<div>
    <input type="button" onclick="salvar(@Model.Id)" value="Salvar correção" class="Botao" />
</div>
<div class="Clear"></div>

<form id="Cadastro" method="post">
    <div class="Contorno-Formulario">
        <div class="Bloco-Separador">
            <div class="Container-Rotulos-Primeiro">
                <label class="Rotulo-Campo">Título do exercício</label>
                <div>
                    @Html.TextBoxFor(model => model.TituloExercicio, new
               {
                   disabled = "disabled"
               })
                </div>
            </div>

            <div class="Container-Rotulos">
                <label class="Rotulo-Campo">Data da resolução</label>
                <div>
                    @Html.TextBoxFor(model => model.DataResolucao, new
               {
                   disabled = "disabled"
               })
                </div>
            </div>

            <div class="Container-Rotulos-Primeiro">
                <label class="Rotulo-Campo">Nome do aluno</label>
                <div>
                    @Html.TextBoxFor(model => model.NomeAluno, new
               {
                   disabled = "disabled"
               })
                </div>
            </div>

            <div class="Container-Rotulos">
                <label class="Rotulo-Campo">Nota</label>
                <div>
                    @Html.TextBoxFor(model => model.Nota, new
               {
                   id = "nota",
                   data_required = "true",
                   data_type = "decimal",
                   maxLength = 3
               })
                </div>
                @Html.ValidationMessageFor(model => model.Nota)
            </div>

            <div class="Container-Rotulos-Primeiro" style="width:100%">
                <label class="Rotulo-Campo">Enunciado</label>
                <div>
                    @Html.TextAreaFor(model => model.Enunciado, new
               {
                   disabled = "disabled"
               })
                </div>
            </div>

            <div class="Container-Rotulos-Primeiro">
                <label class="Rotulo-Campo">Gabarito</label>
                <div>
                    @Html.TextAreaFor(model => model.Gabarito, new
               {
                   disabled = "disabled",
                   style = "min-height:350px !important"
               })
                </div>
            </div>

            <div class="Container-Rotulos">
                <label class="Rotulo-Campo">Resolução</label>
                <div>
                    @Html.TextAreaFor(model => model.Resolucao, new
               {
                   disabled = "disabled",
                   style = "min-height:350px !important"
               })
                </div>
            </div>
        </div>
        <div class="Clear"></div>
    </div>
    <div>
        <input type="button" onclick="salvar(@Model.Id)" value="Salvar correção" class="Botao" />
    </div>
</form>