﻿@model FurbotWeb.Models.CorrecaoExercicioViewModel
@{
    ViewBag.Title = "Corrigir exercícios - FURBOT WEB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/consulta-exercicio-correcao.js"></script>
<script type="text/javascript">
    $(function () {
        urlPadrao = '@Href("~/Professor", "")';
        jsonViewModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        viewModel = new correcaoExercicioViewModel();
        ko.applyBindings(viewModel);

        $("#DataResolucao").datepicker({
            altFormat: "dd-MM-yyyy"
        });


        $("tbody").delegate("tr", "click", function(){
            $("tbody").find("tr").removeClass("selected");
            $(this).addClass("selected");

            var rowIndex = $(this).index();
            viewModel.mostrarBotoesLinhaSelecionada(true);
            viewModel.itemSelecionado(viewModel.Resolucoes()[rowIndex].Id());
        });

        ConfigurarTratamentosCampos();
        aplicarMascaraData();

        $.ajaxSetup({ cache: false });
    });
</script>

<h2 class="Titulo-Formulario">CORREÇÃO DE EXERCÍCIO</h2>
<div class="Clear"></div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "corrigir-exercicio" }))
{
    <div class="Contorno-Formulario">
        <div class="Bloco-Separador">
            <div class="Container-Rotulos-Primeiro">
                <label class="Rotulo-Campo">Data da resolução</label>
                <div>
                    @Html.TextBoxFor(model => model.Filtros.DataResolucao, new
               {
                   id = "DataResolucao",
                   data_bind = "value: Filtros.DataResolucao",
                   data_type = "date"
               })
                </div>
                @Html.ValidationMessageFor(model => model.Filtros.DataResolucao)
            </div>
            <div class="Container-Rotulos">
                <label class="Rotulo-Campo">Nome do aluno</label>
                <div>
                    @Html.TextBoxFor(model => model.Filtros.NomeAluno, new
               {
                   id = "NomeAluno",
                   data_bind = "value: Filtros.NomeAluno",
               })
                </div>
                @Html.ValidationMessageFor(model => model.Filtros.NomeAluno)
            </div>
            <div class="Container-Rotulos-Primeiro">
                <label class="Rotulo-Campo">Título do exercício</label>
                <div>
                    @Html.TextBoxFor(model => model.Filtros.TituloExercicio, new
               {
                   id = "TituloExercicio",
                   data_bind = "value: Filtros.TituloExercicio"
               })
                </div>
                @Html.ValidationMessageFor(model => model.Filtros.TituloExercicio)
            </div>
        </div>
        <div class="Clear"></div>

    </div>
    <div class="Clear"></div>
    <input type="submit" value="Pesquisar" class="Botao" data-bind="click: consultar" id="botaoPesquisar" action-description="{'defaultDescription':'Pesquisar', 'progressDescription':'Pesquisando'}" />
}
<div class="Clear"></div>
<br />
<div style="height: 30px;">
    <input type="submit" value="Corrigir" data-bind="click: corrigir, visible: mostrarBotoesLinhaSelecionada" class="Botao Botao-Grid Botao-Esconder" />
</div>
<div class="Clear"></div>

<div id="grid" data-bind='simpleGrid: gridConfiguration'> </div>
