﻿@model FurbotWeb.Models.ExercicioViewModel
@{
    ViewBag.Title = "Cadastrar exercício - FURBOT WEB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/exercicio-cadastro.js"></script>
<script type="text/javascript">
    $(function() {
        urlPadrao = '@Href("~/Professor", "")';
        jsonViewModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        viewModel = new cadastroExercicioViewModel();
        ko.applyBindings(viewModel);

        ConfigurarTratamentosCampos();
        //aplicarMascaraData();
    });
</script>

<h2 class="Titulo-Formulario">CADASTRO DE EXERCÍCIO</h2>

<div>
    <input type="button" data-bind="click: cadastrar" value="Cadastrar" class="Botao" />
</div>
<div class="Clear"></div>

<form id="Cadastro" method="post">
    <div class="Contorno-Formulario">

        <div class="Bloco-Separador">
            <div class="Container-Rotulos-Primeiro">
                <label class="Rotulo-Campo">Título</label>
                <div>
                    @Html.TextBoxFor(model => model.Titulo, new
               {
                   data_bind = "value: Titulo",
                   maxlength = 255,
                   data_required = "true",
               })
                </div>
                @Html.ValidationMessageFor(model => model.Titulo)
            </div>
            <div class="Container-Rotulos">
                <label class="Rotulo-Campo">Dificuldade</label>
                <div>
                    <select name="Dificuldade" data-bind="options: ListaDificuldades, optionsText: 'Descricao',  optionsValue: 'Valor', value: Dificuldade, optionsCaption: 'Selecione uma dificuldade...'"></select>
                </div>
                @Html.ValidationMessageFor(model => model.Dificuldade)
            </div>
            <div class="Container-Rotulos-Primeiro" style="width:100%">
                <label class="Rotulo-Campo">Enunciado</label>
                <div>
                    @Html.TextAreaFor(model => model.Enunciado, new
               {
                   maxlength = 255,
                   data_bind = "value: Enunciado",
                   data_required = "true",
                   ondragStart = "return false;",
                   ondragenter = "return false;",
                   ondragover = "return false;",
                   ondrop = "return false;"
               })
                </div>
                @Html.ValidationMessageFor(model => model.Enunciado)
            </div>

            @*<div class="Container-Rotulos-Primeiro" style="width:100%">
                <label class="Rotulo-Campo">Gabarito</label>
                <div>
                    @Html.TextAreaFor(model => model.Gabarito, new
               {
                   maxlength = 255,
                   data_bind = "value: Gabarito",
                   data_required = "true",
                   ondragStart = "return false;",
                   ondragenter = "return false;",
                   ondragover = "return false;",
                   ondrop = "return false;"
               })
                </div>
                @Html.ValidationMessageFor(model => model.Gabarito)
            </div>*@            
        </div>
        <div class="Clear"></div>
    </div>
    <div>
        <input type="button" data-bind="click: cadastrar" value="Cadastrar" class="Botao" />
    </div>
    @*<div style="float: right; width: 132px; line-height: 26px; font-size: 12px; color: #444444;">
            <div style="background: #B20000; width: 5px; height: 26px; float: left; margin-right: 8px;"></div>
            Campos obrigatórios
        </div>*@
</form>