﻿@{
    ViewBag.Title = "Bem-vindo - FURBOT WEB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, new { Id = "BemVindo" }))
{
    <h2 class="Titulo-Correcoes-Pendentes">
        BEM-VINDO AO FURBOT WEB
    </h2>
    <br />
    <div class="Texto-Correcoes-Pendentes">
        <span>VOCÊ TEM</span>
        <p class="Numero-Correcoes">
            @Html.Raw(Model)
        </p>
        <p class="Texto-Correcoes">
            exercício(s) pendente(s)
            <br />
            de correção.
        </p>
    </div>
}