﻿@model FurbotWeb.Models.CadastroViewModel

@{
    ViewBag.Title = "Cadastro - FURBOT WEB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/cadastro.js"></script>
<script type="text/javascript">
    $(function() {
        urlPadrao = '@Href("~/Cadastro", "")';
        urlLogin = '@Href("~/Autenticacao", "")';
        jsonViewModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        viewModel = new cadastroViewModel();
        ko.applyBindings(viewModel);

        $("#DataNascimento").datepicker({
            altFormat: "dd-MM-yyyy"
        });
        ConfigurarTratamentosCampos();
        aplicarMascaraData();
        aplicarMascaraDocumento();
    });
</script>

<h2 class="Titulo-Formulario">CADASTRO</h2>

<div>
    <input type="button" data-bind="click: cadastrar" value="Cadastrar" class="Botao" />
</div>
<div class="Clear"></div>

<form id="Cadastro" method="post">
    <div class="Contorno-Formulario">

        <div class="Bloco-Separador">
            <div class="Container-Rotulos-Primeiro">
                <label class="Rotulo-Campo">Nome</label>
                <div>
                    @Html.TextBoxFor(model => model.Nome, new
               {
                   data_bind = "value: Nome",
                   maxlength = 255,
                   data_required = "true",
               })
                </div>
                @Html.ValidationMessageFor(model => model.Nome)
            </div>

            <div class="Container-Rotulos">
                <label class="Rotulo-Campo">CPF</label>
                <div>
                    @Html.TextBoxFor(model => model.CPF, new
               {
                   data_bind = "value: CPF",
                   data_required = "true",
                   data_type = "doc"
               })
                </div>
                @Html.ValidationMessageFor(model => model.CPF)
            </div>

            <div class="Container-Rotulos-Primeiro">
                <label class="Rotulo-Campo">E-mail</label>
                <div>
                    @Html.TextBoxFor(model => model.Email, new
               {
                   data_bind = "value: Email",
                   data_required = "true",
                   type = "email",
                   maxlength = 255,
               })
                </div>
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="Container-Rotulos">
                <label class="Rotulo-Campo">Data de nascimento</label>
                <div>
                    @Html.TextBoxFor(model => model.DataNascimento, new
               {
                   data_bind = "value: DataNascimento",
                   id = "DataNascimento",
                   data_required = "true",
                   data_type = "date"
               })
                </div>
                @Html.ValidationMessageFor(model => model.DataNascimento)
            </div>

            <div class="Container-Rotulos-Primeiro">
                <label class="Rotulo-Campo">Turma</label>
                <div>
                    <select name="TurmaSelecionadaId" data-bind="options: ListaTurma, optionsText: 'Descricao',  optionsValue: 'Id', value: TurmaSelecionadaId, optionsCaption: 'Selecione uma turma...'"></select>
                </div>
                @Html.ValidationMessageFor(model => model.TurmaSelecionadaId)
            </div>
        </div>
        <div class="Clear"></div>

        <div class="Bloco-Separador">
            <div class="Container-Rotulos-Primeiro">
                <label class="Rotulo-Campo">Login</label>
                <div>
                    @Html.TextBoxFor(model => model.Login, new
               {
                   data_bind = "value: Login, enable: Id() == 0",
                   maxlength = 255,
                   data_required = "true",
               })
                </div>
                @Html.ValidationMessageFor(model => model.Login)
            </div>

            <div class="Container-Rotulos">
                <label class="Rotulo-Campo">Senha</label>
                <div>
                    @Html.TextBoxFor(f => f.Senha, new
               {
                   data_bind = "value: Senha",
                   data_required = "true",
                   type = "password",
                   maxlength = 50,
                   ondrop = "return false;",
                   data_val = "true",
                   data_val_valid_word = "A senha não pode conter o caracter '<' e '>'."
               })
                </div>
                @Html.ValidationMessageFor(model => model.Senha)
            </div>
        </div>
        <div class="Clear"></div>

    </div>
    <div>
        <input type="button" data-bind="click: cadastrar" value="Cadastrar" class="Botao" />
    </div>
    @*<div style="float: right; width: 132px; line-height: 26px; font-size: 12px; color: #444444;">
            <div style="background: #B20000; width: 5px; height: 26px; float: left; margin-right: 8px;"></div>
            Campos obrigatórios
        </div>*@
</form>