﻿@import url('themes/base/all.css');
@import url('Estilo-modal.css');

*[draggable=true] {
    -moz-user-select: none;
    -khtml-user-drag: element;
    cursor: move;
}

html, body {
    height: 100%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-size: 12px;
    font-family: "Segoe UI" !important;
    background-color: #fff;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.Modal-Loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 999;
}

.Modal-Loading-Message {
    top: 40%;
    width: 100%;
    position: fixed;
    color: white;
    font-size: 14px;
    text-align: center;
}

    .Modal-Loading-Message img {
        left: 50%;
    }

.link-padrao {
    text-decoration: none;
    font-size: 14px;
    color: #004F75 !important;
    cursor: pointer;
}

    .link-padrao:hover {
        color: #007FFF !important;
    }

.CorpoPagina {
    padding-bottom: 30px;
}

.Modal-Conteudo textarea {
    width: 99.35%;
}

input.Lookup {
    width: 92.8% !important;
    padding-right: 32px !important;
}

input[type='text'], input[type='date'],
input[type='email'], select, textarea,
input[type="password"] {
    color: #444444 !important;
    font-family: "Segoe UI" !important;
    font-size: 12px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    height: 26px !important;
    line-height: 26px !important;
    margin: 0px !important;
    padding: 0px;
    text-indent: 4px;
    width: 99.53%;
    border: 1px solid #DDD;
}

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    select:focus,
    textarea:focus {
        border-color: #183884 !important;
        outline: none !important;
    }

    input[type='text']:read-only,
    textarea:read-only,
    input[type='text']:read-only:focus,
    textarea:read-only:focus,
    input[type='text']:disabled,
    textarea:disabled,
    input[type="email"]:read-only,
    input[type="email"]:disabled,
    select:disabled {
        background-color: #FBFBFB !important;
    }


input[type="checkbox"] {
    margin: 3px 8px 3px 0px;
    float: left;
}

input.desabilitado {
    background-color: #FBFBFB !important;
}

input.Largura-Reduzida {
    width: 180px;
    text-align: left !important;
}

input.Largura-Normal {
    width: 415px;
}

textarea {
    text-indent: 0px !important;
    width: 99.30%;
    padding-left: 4px !important;
    resize: none;
    min-height: 80px !important;
    margin: 0px;
    padding-top: 0;
    padding-bottom: 0;
}

a {
    text-decoration: none;
}

div.Container-Lookup a.Botao-Lookup {
    cursor: pointer;
    height: 18px;
    padding: 4px 6px 4px 8px;
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 99;
}

    div.Container-Lookup a.Botao-Lookup:hover {
        background: #EEEEEE;
    }

div.Topo {
    width: 100%;
    height: 36px;
}

div.ContainerGeral {
    position: relative;
    min-height: 100%;
}

div.Conteudo {
    min-width: 960px;
    height: auto;
    margin: 0 auto;
}

div.Barra-Cor-Menu {
    height: 1px;
    background-color: #183884;
    width: 100%;
    min-width: 960px;
}

h2.Titulo-Formulario {
    color: #666666;
    font-size: 16px;
    -webkit-margin-before: 8px;
    -webkit-margin-after: 6px;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0px;
    font-weight: inherit;
}

.Clear {
    clear: both;
}

#Conteudo {
    margin: 0 30px;
}

div.Contorno-Formulario {
    padding: 13px 13px 13px 13px;
    border: 1px solid #DDD;
    background-color: #FFF;
    margin-top: 6px;
    margin-bottom: 6px;
}

div.Painel-Bloco {
    padding: 13px 13px 13px 13px;
    background-color: #FFF;
    margin-top: 6px;
    margin-bottom: 6px;
}

div.Consulta-Formulario {
    padding: 15px;
    background-color: #FFF;
    margin: 12px 0 5px 0;
    background-color: #f8f8f8;
}

.excluir {
    text-decoration: underline;
    color: #004C72;
    cursor: pointer;
}

div.Aviso-Erro {
    padding: 8px 10px 8px 30px;
    margin: 18px 0 10px 0;
    display: none;
    background: #F2DEDE;
    border: 1px solid #E2B9BA;
    color: #444444;
    font-size: 14px;
}

div.Aviso-Sucesso {
    padding: 8px 10px 8px 30px;
    margin: 18px 0 10px 0;
    display: none;
    background: #DFF0D8;
    border: 1px solid #A3D38D;
    color: #444444;
    font-size: 14px;
}

div.Aviso-Informacao {
    padding: 8px 10px 8px 30px;
    margin: 0px 0 10px 0;
    display: none;
    background: #D9EDF7;
    border: 1px solid #ADD9ED;
    color: #444444;
    font-size: 14px;
}

div.Aviso-Advertencia {
    padding: 8px 10px 8px 30px;
    margin: 18px 0 10px 0;
    display: none;
    background: #FCF8E3;
    border: 1px solid #F3E89D;
    color: #444444;
    font-size: 14px;
}

.FechaAviso {
    font-weight: bold;
    display: inline-block;
    float: right;
    cursor: pointer;
}

span.Erro {
    color: #E0B1B1;
}

span.Advertencia {
    color: #EFDD76;
}

span.Sucesso {
    color: #75BC52;
}

span.Informacao {
    color: #95CEEA;
}

.Topo {
    background-color: #dcebfa;
    color: #183884;
}

div.Topo div.Cima {
    height: 41px;
    line-height: 40px;
    margin-left: 30px;
}

    div.Topo div.Cima div.Pronim {
        font-size: 14px;
        font-weight: bold;
        height: 40px;
        float: left;
        min-width: 74px;
    }

    div.Topo div.Cima div.Unidade-Gestora {
        font-size: 14px;
        font-weight: normal;
        height: 40px;
        float: left;
        min-width: 302px;
        padding-left: 16px;
    }

    div.Topo div.Cima div.Sistema {
        font-size: 14px;
        font-weight: normal;
        height: 40px;
        float: left;
        min-width: 318px;
    }

div.Topo div.Baixo {
    height: 31px;
    width: 100%;
    line-height: 31px;
    float: left;
}

    div.Topo div.Baixo div.Nome-Sistema {
        font-size: 14px;
        font-weight: normal;
        float: left;
        height: 30px;
        margin-left: 30px;
    }

    div.Topo div.Baixo div.Usuario {
        font-size: 11px;
        font-weight: BOLD;
        float: right;
        height: 30px;
        padding-right: 17px;
        margin-right: 30px;
    }

    div.Topo div.Baixo div.Ajuda {
        float: right;
        margin-right: 41px;
    }

        div.Topo div.Baixo div.Ajuda div.Icone-Ajuda {
            width: 17px;
            /*background: url(Imagens/ic_help.png) right center no-repeat;*/
        }

            div.Topo div.Baixo div.Ajuda div.Icone-Ajuda:hover {
                /*background: url(Imagens/ic_help_hover.png) right center no-repeat;*/
            }

.UsuarioCPFCNPJ {
    text-align: right;
}

div.Baixo div.Usuario a {
    color: #183884;
    font-weight: normal;
}

div.Topo div.Baixo div.Usuario ul {
    display: none;
    background: #dcebfa;
    padding: 5px;
    list-style: none;
    line-height: 32px;
    margin: 0px;
    position: absolute;
    margin: -1px 0 0 -13px;
    font-size: 14px;
    z-index: 9;
}



    div.Topo div.Baixo div.Usuario ul li {
        float: none;
        height: 35px;
        padding: 0 15px;
        background-image: none;
        cursor: pointer;
        width: 170px;
        font-weight: normal;
    }

        div.Topo div.Baixo div.Usuario ul li:hover {
            background-color: rgba(24, 56, 132, 0.50);
        }

div.Usuario ul {
    position: relative !important;
    right: -20px !important;
}

.Menu {
    margin: 0 30px;
}

    .Menu .Coluna-Direita {
        float: left;
        margin-left: 10px;
    }

    .Menu .Coluna-Esquerda {
        float: left;
    }

    .Menu ul {
        padding: 0;
        list-style: none;
        line-height: 32px;
        margin: 0px;
    }

        .Menu ul li {
            float: left;
            color: #fff;
            font-size: 16px;
            padding-right: 39px;
            cursor: pointer;
            height: 32px;
            background-color: #183884;
        }

            .Menu ul li.Menu-Selecionado a {
                background: #183884 !important;
                color: #fff !important;
            }

            .Menu ul li:hover {
                background: #183884;
            }

            .Menu ul li a {
                padding: 0 0 0 18px;
                color: #dcebfa;
                text-decoration: none;
            }

            .Menu ul li:hover a {
                color: #fff;
            }

            .Menu ul li ul.Sub-Menu {
                display: none;
                position: absolute;
                padding: 5px;
                background-color: #183884;
                z-index: 99999;
                border-radius: 0 0 5px 5px;
            }

                .Menu ul li ul.Sub-Menu li {
                    float: none;
                    padding: 0 5px;
                    background-image: none;
                    height: 35px;
                }

                    .Menu ul li ul.Sub-Menu li:hover {
                        background-color: rgba(220, 235, 250, 0.50);
                    }

                    .Menu ul li ul.Sub-Menu li a {
                        color: #fff;
                        text-decoration: none;
                        padding: 0;
                    }

                        .Menu ul li ul.Sub-Menu li a div {
                            padding: 0 32px 0 14px;
                            font-size: 14px;
                            font-weight: normal;
                            line-height: 35px;
                        }

            .Menu ul li.Item-Pai {
                color: #fff;
                text-decoration: none;
                padding: 0;
            }

            .Menu ul li ul.Sub-Menu li.Item-Pai:hover {
                background: none;
                cursor: default;
            }

            .Menu ul li.Item-Filho {
                background-position: 15px center;
                background-repeat: no-repeat;
                padding-left: 25px !important;
            }

.Reload {
    width: 20px;
    height: 15px;
    /*background: url(Imagens/reload.fw.png) center center no-repeat;*/
    float: right;
    margin-top: 6px;
}

.Botao-Loading, .Botao-Loading:hover, input[type='submit'].Botao-Loading:disabled {
    background-color: #ddd !important;
    /*background-image: url(Imagens/button_loading_spinner.gif) !important;*/
    background-position: right center !important;
    background-repeat: no-repeat !important;
    padding-right: 35px;
    opacity: 1 !important;
}

input[type='submit']:disabled,
input[type='submit']:disabled input[type='submit']:hover,
input[type='button']:disabled,
input[type='button']:disabled input[type='button']:hover {
    color: #BBBBBB;
    border: 1px solid rgba(186, 187, 191, 0.51);
    /*background: url(Imagens/bg_botao_desabilitado.png) repeat-x !important;*/
    opacity: 0.50;
}

div.Desabilitado {
    color: #BBBBBB !important;
    border: 1px solid rgba(186, 187, 191, 0.51) !important;
    /*background: url(Imagens/bg_botao_desabilitado.png) repeat-x !important;*/
    opacity: 0.50;
}

.Botao, .Botao-Tab-Desabilitado, .Botao-Tab-Desabilitado:hover {
    border: 1px solid #BABBBF;
    font-family: Segoe UI !important;
    font-size: 14px !important;
    height: 30px !important;
    color: #444 !important;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 11px;
    padding-right: 11px;
    float: left;
    margin-right: 2px;
    margin-left: 0px;
}

    .Botao:-moz-any(input) {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .Botao:hover {
        border: 1px solid #BABBBF;
        background-color: #d8d8d8;
        font-size: 14px;
    }

    .Botao:active {
        border: 1px solid #BABBBF !important;
        font-size: 14px;
    }

.Rotulo-Campo {
    color: #212121;
    text-align: left;
    display: block;
    font-size: 13px;
    margin-bottom: 3px;
}

.Rotulo-Campo-Readonly {
    color: #777777;
    text-align: left;
    display: block;
}

.Alinhar-esquerda {
    text-align: left !important;
}

input.input-validation-error,
textarea.input-validation-error {
    border-color: #B20000 !important;
}

    input.input-validation-error + .k-select {
        border-color: #B20000 !important;
    }

span.input-validation-error {
    border-color: #B20000 !important;
}

    span.input-validation-error + .k-select {
        border-color: #B20000 !important;
    }

.field-validation-error {
    display: block !important;
    color: #B20000;
    font-size: 10px;
    height: 17px;
    text-align: right;
}

.input-validation-valid {
    border: 1px solid #DDDDDD;
}

.field-validation-valid {
    display: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    color: #444444 !important;
    border: 0px !important;
}

div.Distancia-Bloco {
    margin-top: 50px;
}

div.Bloco-Separador {
    width: 100%;
    text-align: left;
}

    div.Bloco-Separador div.Titulo-Bloco-Separador {
        border-bottom: 1px solid #004F75;
        height: 26px;
        font-weight: bold;
        margin-bottom: 12px;
    }

        div.Bloco-Separador div.Titulo-Bloco-Separador > span {
            color: #004F75;
            font-size: 13px;
            font-weight: bold;
        }

        div.Bloco-Separador div.Titulo-Bloco-Separador div.Seta-Aberto {
            /*background: url("Imagens/ic_collapse_aberto.png") no-repeat scroll center center #004F75;*/
        }

        div.Bloco-Separador div.Titulo-Bloco-Separador div.Seta-Fechado {
            /*background: url("Imagens/ic_collapse_fechado.png") no-repeat scroll center center #004F75;*/
        }

    div.Bloco-Separador div.Container-Rotulos-Primeiro, div.Bloco-Separador div.Container-Rotulos {
        float: left;
        width: 49%;
        min-height: 58px;
    }

    div.Bloco-Separador div.Container-Rotulos-Primeiro {
        margin-right: 1%;
    }

    div.Bloco-Separador div.Container-Rotulos {
        margin-left: 1%;
    }

    div.Bloco-Separador div.Container-Rotulos-Pequenos {
        float: left;
        width: 47.6%;
        min-height: 58px;
    }

    div.Bloco-Separador div.Ultimo {
        margin-left: 4.4%;
    }

.Detalhes tr, .Detalhes tr td, .Detalhes tr th {
    padding: 0;
    margin: 0;
    height: 30px;
}

.Detalhes td, .Detalhes th {
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    color: #444;
}

.Detalhes tr, .Detalhes th {
    border-bottom: 1px solid #DDD;
}

    .Detalhes tr.Linha-Estilo {
        background-color: #F5F5F5;
    }

    .Detalhes th.Linha-Estilo, .Detalhes th.Linha-Estilo:hover {
        background-color: #F5F5F5 !important;
    }

    .Detalhes tr:hover {
        background-color: #ECF8FF;
    }

table.Detalhes {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #DDD;
    margin-bottom: 18px;
}

.Detalhes tr td.Direita {
    text-align: right;
    padding-right: 15px;
}

.Detalhes tr th, .Detalhes tr td {
    padding-left: 15px;
}

    .Detalhes tr th.Titulo {
        padding-left: 12px;
        font-size: 13px;
    }

.Detalhes tr:hover th {
    background-color: #FFF;
}

.Detalhes tfoot tr td {
    text-align: right;
    padding-right: 30px;
    border-top: 1px solid #DDD;
    background-color: #FFF;
}

.Grid-Header {
    margin-top: 5px;
    border: 1px solid #BABBBF;
    width: 100%;
    text-transform: uppercase;
    color: #444;
    height: 30px;
    font-size: 13px;
    border-bottom: 0px;
}

    .Grid-Header span {
        margin: 5px;
        padding-left: 7px;
        position: absolute;
    }

#Rodape {
    background-color: #183884;
    height: 20px;
    color: #dcebfa;
    font-size: 14px;
    font-family: 'Segoe UI';
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    min-width: 960px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


.conteudo-404 {
    padding: 10px 25px;
    background-color: #fcfcfc;
}

    .conteudo-404 a:hover {
        color: #007FFF;
    }

    .conteudo-404 a {
        color: #004C72;
    }

.titulo-404 {
    font-family: 'Segoe UI';
    color: #004c72;
    font-size: 22px;
    font-weight: bold;
}

.conteudo-404 .texto {
    font-family: 'Segoe UI';
    color: #444444;
    font-size: 16px;
    width: 460px;
}

}

div.Painel-Esquerda {
    float: left;
    margin-right: 1%;
    width: 49%;
}

div.Painel-Direita {
    float: left;
    margin-left: 1%;
    width: 49%;
}

div.Rotulo-Com-Ajuda {
    width: 385px;
    float: left;
    margin: 5px 0;
}

    div.Rotulo-Com-Ajuda label {
        float: left;
    }

    div.Rotulo-Com-Ajuda a {
        float: left;
        margin-left: 10px;
    }

div.Icone-Ajuda {
    height: 20px;
    width: 17px;
    /*background: url(Imagens/ic_help.png) right center no-repeat;*/
}

    div.Icone-Ajuda:hover {
        /*background: url(Imagens/ic_help_hover.png) right center no-repeat;*/
    }

.Botao-Recuperar {
    width: 172px;
}

.Titulo-Correcoes-Pendentes {
    font-weight: 600;
    color: #444;
    font-size: 16px;
}

.Correcoes-Pendentes {
    margin-right: 22px;
    float: left;
    height: 200px;
    width: 48%;
    background-color: #fcfcfc;
    font-size: 13px;
}

.Texto-Correcoes-Pendentes {
    float: left;
    margin: 0 0 0 0;
}

div.Texto-Correcoes-Pendentes span {
    padding: 0px;
    margin: 0px;
    color: #183884;
    font-size: 13px;
    font-weight: bold;
}

.Numero-Correcoes {
    font-size: 80px;
    color: #AAA;
    font-family: 'Segoe UI' !important;
    margin: 0px;
    padding: 0;
}

.Texto-Correcoes {
    padding: 0px;
    margin: 0px;
    color: #183884;
    font-size: 16px;
    font-weight: normal;
}

#Distancia-Menu {
    height: 10px;
}

select {
    color: #444444 !important;
    font-size: 12px !important;
    border: 1px !important;
    border-style: solid !important;
    border-color: #DDDDDD !important;
    background-color: #FFFFFF !important;
    height: 26px !important;
    padding-left: 1px;
    -webkit-border-radius: 0 !important;
    padding-bottom: 0px;
    width: 100%;
    box-shadow: none;
}

    select.input-validation-error {
        border-color: #B20000 !important;
    }

    select:focus {
        font-size: 12px !important;
        border-color: #183884 !important;
        -webkit-box-shadow: none !important;
    }

    select:disabled {
        padding-left: 5px;
        background-color: #FBFBFB !important;
        color: #BABBBF !important;
        border: 1px solid !important;
        border-color: #DDDDDD !important;
    }

.ui-corner-all {
    border-radius: 0px !important;
}

.ui-widget-header {
    background: none !important;
    background-color: #dcebfa !important;
    border: none !important;
    color: #183884 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    background: none !important;
    background-color: #dcebfa !important;
}

.ui-state-active, .ui-widget-content .ui-state-active {
    background-color: #DDD !important;
}

.ui-datepicker th {
    color: #183884 !important;
}

.ui-slider {
    height: 10px !important;
    width: 100px !important;
    margin-top: 10px;
}

    .ui-slider .ui-slider-handle {
        height: 12px !important;
        width: 12px !important;
    }

.ui-slider-horizontal .ui-slider-handle {
    top: -1px !important;
    margin: -1px !important;
}

.ko-grid {
    margin-bottom: 1em;
    margin-top: 5px;
    border: 1px solid #183884;
    background-color: #fff;
    font-size: 14px;
    width: 100%;
}

    .ko-grid th {
        text-align: left;
        background-color: #183884;
        color: #dcebfa;
        font-weight: normal;
    }

    .ko-grid td, th {
        padding: 0.4em;
    }

    .ko-grid tr:nth-child(odd) {
        background-color: #f8f8f8;
    }

    .ko-grid tr:hover {
        background-color: #dcebfa;
    }

    .ko-grid .selected {
        background-color: #dcebfa !important;
    }

.ko-grid-pageLinks {
    margin-bottom: 1em;
}

    .ko-grid-pageLinks a {
        padding: 0.3em;
    }

        .ko-grid-pageLinks a.selected {
            background-color: #183884;
            color: #dcebfa;
        }

        .ko-grid-pageLinks a:hover {
            background-color: #dcebfa;
            color: #183884;
        }
