﻿@import url('Estilo-modal.css');

body {
    font-size: 14px;
    font-family: "Segoe UI";
    padding: 0;
    margin: 0;
    background: url("../Images/background.png") repeat scroll center top transparent;
}

h2 {
    color: #183884;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

    h2.Erro {
        color: #B20000;
    }

.Texto-Login {
    height: 145px;
    word-wrap: break-word;
}

label {
    color: #1F1F1F;
    font-size: 13px;
}

input[type="text"], input[type="password"] {
    height: 35px;
    border: 1px solid #DDDDDD;
    width: 100%;
    outline: none;
    text-indent: 4px;
}

    input[type="text"]:focus, input[type="password"]:focus {
        border: 1px solid #216CF2;
    }

a {
    text-decoration: none;
    font-size: 14px;
    color: #183884;
}

    a:hover {
        color: #2e62d9;
    }

span a {
    font-size: 11px;
}

ul, li {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

div#Painel-Autenticacao {
    background-color: #dcebfa;
    box-shadow: #EBF5FF 0px 0px 4px;
    border-radius: 6px;
    padding: 15px 30px;
    margin-bottom: 10px;
    margin-left: 149px;
    float: left;
}

div.Painel-Conteudo {
    width: 295px;
    margin-top: 21px;
    float: left;
}

    div.Painel-Conteudo p {
        width: 265px;
    }

div#Conteudo-Login {
    width: 652px;
    position: relative;
    top: 50%;
    left: 50%;
    margin: 50px -326px;
}

div#Painel-Conteudo-Login div.Campos {
    height: 72px;
}

div#Painel-Conteudo-Login > a {
    margin-top: 10px;
    vertical-align: top;
}

.Botao-Login, .Botao-Login-Entrando, .Botao-Recuperar-Senha {
    background-color: #183884;
    width: 117px;
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border: 0;
}

.Botao-Login-Entrando {
    background: url("../Images/loading.gif") no-repeat scroll 9px center #183884;
}

.Botao-Login:hover, .Botao-Recuperar-Senha:hover {
    background-color: #2e62d9;
}

.Botao-Recuperar-Senha {
    width: 172px;
}

input.input-validation-error {
    border: 1px solid #B20000;
}

span.field-validation-error {
    color: #B20000;
    font-size: 10px;
    float: right;
    font-weight: bold;
}
