﻿/* MODAL */
.Alinhar-Centro {
    text-align: center;
}

.Mensagem-Dialog {
    font-size: 20px;
    color: #686868;
    outline: none;
}

.Div-Detalhes-Modal {
    border: 1px solid #DDDDDD;
    display: none;
    padding: 5px;
    color: #686868;
    font-size: 14px;
    font-family: 'Segoe UI';
    margin: 7px 5px 0px 5px;
}

.Link-Mostrar-Detalhes-Modal {
    font-size: 10px;
    font-family: 'Segoe UI';
    color: #0072C5;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.Botao-Fechar-Modal, .Botao-Sim-Modal {
    float: right !important;
    margin: 15px 5px 5px 0px !important;
    outline: none;
}

.EspacamentoBotao {
    height: 43px;
    margin-top: 10px;
}


.Modal-BarraTitulo {
    padding: 20px 20px 0 20px !important;
    background: transparent !important;
    font-size: 14px !important;
}

.Modal-Titulo {
    color: #666666 !important;
    font-size: 14px !important;
    margin: 0px !important;
}

.Modal-BotaoFechar {
    right: 20px !important;
    background: transparent !important;
    outline: 0px !important;
}

.Modal-BotaoFecharIcone {
    margin: 0px 0 0 -9px !important;
}

.Modal-Conteudo {
    padding: 0px 20px 18px 20px !important;
    color: #5B5B5B !important;
    font-size: 15px !important;
}

.Mensagem-Modal-BarraTitulo {
    height: 30px !important;
    padding-left: 5px !important;
}

.Mensagem-Modal-TituloBranco {
    font-size: 14px !important;
    color: #fff !important;
}

.Mensagem-Modal-Erro {
    background-color: #FF2626 !important;
}

.Mensagem-Modal-Advertencia {
    background-color: #FF9326 !important;
}

.Modal-Advertencia-Titulo {
    padding-top: 4px !important;
}

.Mensagem-Modal-Informacao {
    background-color: #0072C5 !important;
}

.Mensagem-Modal-Sucesso {
    background-color: #2B804F !important;
}