﻿@import url('Estilo.css');

input[type="text"], input[type="password"] {
    width: 330px;
}

h1.Titulo-Menu {
    font-size: 13px;
    text-transform: uppercase;
    color: #576477;
    font-weight: inherit;
}

ul.Menu-Configuracao {
    list-style: none;
    margin-right: 5px;
    padding-left: 5px;
}

    ul.Menu-Configuracao li a {
        color: #212121;
    }

    ul.Menu-Configuracao li.Selected {
        background: #DDF2FF;
    }

    ul.Menu-Configuracao li, li:visited {
        text-align: -webkit-match-parent;
        display: block;
        padding-left: 5px;
        cursor: pointer;
    }

        ul.Menu-Configuracao li:hover {
            background-color: #DDF2FF;
        }

        ul.Menu-Configuracao li div {
            vertical-align: middle;
            height: 30px;
            display: table-cell;
        }

div.Bloco-Separador-Configuracao {
    width: 100%;
    text-align: left;
}

    div.Bloco-Separador-Configuracao div.Container-Menu {
        float: left;
        width: 25%;
    }

    div.Bloco-Separador-Configuracao div.Container-Conteudo {
        float: left;
        width: 74%;
        border-left: 1px solid #DDD;
        padding-left: 8px;
    }

div.Bloco-Campo-Separador {
    min-height: 58px;
}

div.Link-Quadrado {
    width: 140px;
    height: 140px;
    background-color: #287D64;
    color: #fff;
    text-align: right;
    margin-right: 20px;
    float: left;
}

a:hover div.Link-Quadrado {
    background-color: #38B48E;
}

div.Link-Quadrado p {
    font-size: 13px;
    margin: 100px 10px 0 0;
}