﻿@using FurbotWeb.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/mask")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/configuracoes.js")
    @Scripts.Render("~/Scripts/plugins.js")
    @Scripts.Render("~/Scripts/menu.js")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            AdicionarCorMenuSelecionado('@ViewContext.RouteData.Values["controller"].ToString().ToLower()');
        });

        function AdicionarCorMenuSelecionado(controller) {
            menuPrincipal = $(".Menu ul li.Menu-Item-Principal");
            sairDoMedoto = false;
            menuPrincipal.each(function (index, value) {
                if (sairDoMedoto) {
                    return false;
                }
                var tagsA = $(menuPrincipal[index]).find('a');
                tagsA.each(function (indexA, valueA) {
                    if (sairDoMedoto) {
                        return false;
                    }
                    var href = $(valueA).attr('href');
                    if (href) {
                        var valorUrl = href.toLowerCase().split('/');
                        for (var i = 0; i < valorUrl.length; i++) {
                            if (controller == valorUrl[i]) {
                                var elementoItem = $(menuPrincipal[index]);
                                var classesDoElemento = elementoItem.attr('class').split(' ');
                                var achouClasseSeta = false;
                                for (var i = 0; i < classesDoElemento.length; i++) {
                                    if (classesDoElemento[i] == 'Seta') {
                                        achouClasseSeta = true;
                                        break;
                                    }
                                }
                                if (achouClasseSeta)
                                    elementoItem.addClass("Seta-Menu-Selecionado");
                                else
                                    elementoItem.addClass("Menu-Selecionado");

                                elementoItem.find('a').css("color", "#fff");
                                sairDoMedoto = true;
                                break;
                            }
                        }
                    }
                });
            });
        }
    </script>
</head>
<body>
    <div id="modalLoadingPanel" class="Modal-Loading unselectable">
        <div class="Modal-Loading-Message">
            @*<img src="~/Content/Imagens/modal_loading_spinner.gif" />*@
            <br />
            Aguarde, esta operação pode demorar alguns segundos!
        </div>
    </div>
    <div class="ContainerGeral">
        <div id="Janela-Modal">
        </div>

        <div class="Topo">
            <div class="Conteudo">
                <div class="Baixo">
                    <div class="Nome-Sistema">FURBOT WEB - Ciência da Computação - FURB</div>
                    @if (FurbotWebSession.Current != null)
                    {
                        <div class="Usuario">
                            @Html.Raw(FurbotWebSession.Current.Nome) | <a href="@Href("~/Autenticacao/Sair")">Sair</a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="Barra-Cor-Menu"></div>
        <div class="Conteudo">
            @if (FurbotWebSession.Current == null)
            {
                <div class='Menu'>
                    <ul>
                        <li class="Menu-Item-Principal">
                            <a href='~/Autenticacao'>Retornar para o login</a>
                        </li>
                    </ul>
                </div>
            }
            else if (FurbotWebSession.Current.IsProfessor)
            {
                Html.RenderPartial("_MenuProfessor");
            }
            else if (FurbotWebSession.Current.IsAluno)
            {
                Html.RenderPartial("_MenuAluno");
            }
        </div>
        <div class="Clear"></div>
        <div class="Conteudo CorpoPagina">
            <div id="Conteudo">
                <div id="Distancia-Menu">
                </div>
                <div class="Corpo">
                    @RenderBody()
                </div>
                <div class="Clear"></div>
            </div>
        </div>
        <div id="Rodape">
            <span class="Centralizar-Vertical">TCC Heloisa Kaestner Kopsch - Orientador Prof. Maurício Capobianco Lopes</span>
        </div>
    </div>
</body>
</html>