﻿@model FurbotWeb.Models.AutenticacaoViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>FURBOT WEB</title>
    <link rel="shortcut icon" href="#" type="image/ico" />

    @Styles.Render("~/Content/Estilo-Login.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/mask")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <div id="Janela-Modal">
    </div>
    <div id="Conteudo-Login">
        <div id="Painel-Autenticacao">
            <h2>BEM-VINDO AO FURBOT WEB!</h2>
            <div>
                @RenderBody()
            </div>
        </div>
        <div id="Rodape-Login">
            <span class="Centralizar-Vertical"></span>
        </div>
    </div>
</body>
</html>