﻿@using FurbotWeb.Models

<div class="Menu">
    <ul>
        <li class="Menu-Item-Principal">
            <a>Exercícios</a>
            <ul class="Sub-Menu">
                <li>
                    <a href="~/Aluno">
                        <div>Resolver</div>
                    </a>
                </li>
                <li>
                    <a href="~/Aluno/Consulta">
                        <div>Consultar</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="Menu-Item-Principal">
            <a href="~/Cadastro/?id=@FurbotWebSession.Current.Id">Cadastro</a>
        </li>
    </ul>
</div>