﻿<div id="Painel-Conteudo-Login">
    <h2 class="Erro">ERRO DE IDENTIFICAÇÃO!</h2>
    <p>Por algum motivo o usuário solicitado não foi encontrado, verifique seu e-mail para repetir o procedimento ou recupere a senha novamente para um receber um novo e-mail.</p>
    <a href="#" style="float: left; margin: 0 auto;" onclick="MostraFormRecuperarSenha();">Tentar novamente.</a>
</div>