﻿@model FurbotWeb.Models.AutenticacaoViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<script>
    function SetaDivVisivel(id) {
        $("#" + id).css('display', 'block');
    }

    $(function () {
        SetaDivVisivel('@Model.DivParaExibicao');
    });
</script>

<div id="login" class="Painel-Conteudo">
    @{ Html.RenderPartial("Login", Model);}
</div>
<div id="recuperarSenha" class="Painel-Conteudo" style="display: none;">
    @{ Html.RenderPartial("RecuperarSenha", new FurbotWeb.Models.RecuperarSenhaViewModel());}
</div>
<div id="erroGuid" class="Painel-Conteudo" style="display: none;">
    @{ Html.RenderPartial("ErroGuidEmail");}
</div>
<div id="solicitacaoExpirada" class="Painel-Conteudo" style="display: none;">
    @{ Html.RenderPartial("RequestAlteracaoExpirada");}
</div>
<div id="emailEnviado" class="Painel-Conteudo Borda-Esquerda" style="display: none;">
</div>
