﻿@model FurbotWeb.Models.AutenticacaoViewModel

<script src="~/Scripts/configuracoes.js"></script>
<script src="~/Scripts/login.js"></script>
<script type="text/javascript">
    $(function () {
        urlLogin = "@Href("~/Autenticacao/Logar")";
        urlRotaPadrao = "@Href("~/Autenticacao/")";
        jsonViewModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))
        viewModel = new loginViewModel();
        ko.applyBindings(viewModel);
        ConfigurarValidacao();

        if (getReturnUrl()) {
            $('div#Janela-Modal').on('dialogclose', function () {
                $("div#Janela-Modal").empty();
            });
            $('div#Janela-Modal').modalAdvertencia('Realize o login para executar a ação solicitada.', 'Por razões de segurança você deverá efetuar o login.').dialog('open');
        }
    });

    function MostraFormRecuperarSenha() {
        $("#Botao-RecuperarSenha").removeClass("Botao-Login-Entrando");
        $("#Botao-RecuperarSenha").val("Recuperar senha");
        SetaDivVisivel('recuperarSenha');
        $("#UsuarioRecuperarSenha").focus();
    }
</script>

@using (Html.BeginForm("Logar", "Autenticacao", FormMethod.Post, new { Id = "FormularioLogin" }))
{
    <div id="Painel-Conteudo-Login">
        <div class="Campos">
            <label>Login</label>
            @Html.TextBoxFor(m => m.Login, new { maxlength = "14" })
            @Html.ValidationMessageFor(m => m.Login)
        </div>
        <div class="Campos">
            <label>Senha</label>
            @Html.TextBoxFor(m => m.Senha, new
               {
                   type = "password",
                   maxlength = "50",
                   data_val = "true",
                   data_val_valid_word = "A senha não pode conter o caracter do sinal maior(<) e o sinal menor(>)."
               })
            @Html.ValidationMessageFor(m => m.Senha)
        </div>
        <input type="submit" id="Botao-Entrar" class="Botao-Login" value="Entrar" data-bind="click: logar" />
        <br />
        <br />
        <a href="javascript:void(0);" onclick="MostraFormRecuperarSenha();">>> Recupere sua senha</a>
        <br />
        <a href="~/Cadastro">>> Cadastre-se</a>
    </div>
}
