﻿@model FurbotWeb.Models.RecuperarSenhaViewModel

<style>
    .Botao-Recuperar {
        width: 172px;
    }
</style>

<script type="text/javascript">
    $(function () {
        var form = $("#FormularioRecuperarSenha");
        $('#UsuarioRecuperarSenha').focus().setMask({ mask: '99999999999999', autoTab: false });

        form.submit(function (e) {
            e.preventDefault();
            $('.input-validation-error').removeClass('input-validation-error');
            $('.field-validation-error').children().html('');
            $("#Botao-RecuperarSenha").removeClass("Botao-Recuperar-Senha");
            $("#Botao-RecuperarSenha").addClass("Botao-Login-Entrando Botao-Recuperar-Senha");
            $("#Botao-RecuperarSenha").val("Enviando E-mail");

            $.post(form.attr('action'), form.serialize(), function (retorno) {
                if (retorno.Status == 'Falha') {
                    mensagemValidacaoCampos('UsuarioRecuperarSenha', retorno.Mensagem, form);
                    mensagemValidacaoCampos('Usuario', retorno.Mensagem, form);
                    alterarBotaoRecuperarSenha();
                }
                else if (retorno.Status == 'Modal') {
                    $("#Janela-Modal").modalAdvertencia(retorno.Mensagem, retorno.Solucao).dialog("open");
                    alterarBotaoRecuperarSenha();
                }
                else {
                    $("#Botao-RecuperarSenha").addClass("Botao-Login-Entrando Botao-Recuperar-Senha");
                    $("#Botao-RecuperarSenha").val("Enviando E-mail");

                    SetaDivVisivel('emailEnviado');
                    $("#emailEnviado").html(retorno);

                    form[0].reset();
                }
            });
        });
    });

    function MostraFormLogin() {
        $('.input-validation-error').removeClass('input-validation-error');
        $('.field-validation-error').children().html('');
        $("#UsuarioRecuperarSenha").val('');
        $('#UsuarioRecuperarSenha').removeClass('input-validation-error');
        var elementoSpan = $("#FormularioRecuperarSenha").find('[data-valmsg-for$="Usuario"]');
        elementoSpan.removeClass('field-validation-error');
        elementoSpan.html('');
        SetaDivVisivel('login');
        $("#Usuario").focus();
    }

    function alterarBotaoRecuperarSenha() {
        $("#Botao-RecuperarSenha").removeClass("Botao-Login-Entrando Botao-Recuperar-Senha");
        $("#Botao-RecuperarSenha").addClass("Botao-Recuperar-Senha");
        $("#Botao-RecuperarSenha").val("Recuperar senha");
    }

</script>

@using (Html.BeginForm("EnviarEmailSolicitacao", "Autenticacao", FormMethod.Post, new { Id = "FormularioRecuperarSenha" }))
{
    <div id="Painel-Conteudo-Login">
        <div class="Campos" style="margin-bottom: 11px;">
            <label>Login</label>
            @Html.TextBoxFor(m => m.Login, new { maxlength = "14", Id = "UsuarioRecuperarSenha" })
            @Html.ValidationMessageFor(m => m.Login)
        </div>
        <input type="submit" id="Botao-RecuperarSenha" class="Botao-Recuperar-Senha" value="Recuperar senha" />
        <a href="#" onclick=" MostraFormLogin();" style="float: right;">Voltar</a>
    </div>
}
