﻿<div id="Painel-Conteudo-Login">
    <h2 class="Erro">PRAZO DA SOLICITAÇÃO TERMINOU!</h2>
    <p>Você precisa repetir o procedimento, clique em solicitar acesso para receber um novo e-mail.</p>
    <a href="#" style="float: left; margin: 0 auto;" onclick="MostraFormRecuperarSenha();">Tentar novamente.</a>
</div>